<ng-container *ngIf="vm$ | async as vm">
  <header class="header">
    <h1>Blogify</h1>
    <fa-icon [icon]="icon"></fa-icon>
  </header>
  <main class="body">
    <h2>Login</h2>


    <bl-backend-error-messages *ngIf="vm.backendErrors" [backendErrors]="vm.backendErrors"></bl-backend-error-messages>

    <form (ngSubmit)="onSubmit(form.value)" #form="ngForm" class="auth-form">
      <input type="email" ngModel #email="ngModel" name="email" required placeholder="Email" />
      <input type="password" ngModel #password="ngModel" name="password" required placeholder="password" />

      <button 
      type="submit" 
      [disabled]="form.invalid || vm.isSubmitting"
      [ngClass]="{ 'btn-signup': true, disabled: form.invalid }"
      >
        {{ vm.isSubmitting ? 'Login in...' : 'Login' }}
      </button>
    </form>
    <a [routerLink]="['/register']">Sign up here</a>
  </main>
</ng-container>
