<ng-container *ngIf="vm$ | async as vm">
  <div *ngIf="vm.userProfile" class="profile-page">
    <div class="user-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 offset-md-1">
            <img class="user-img" [src]="vm.userProfile.image" alt="user-image" />
            <h4>{{ vm.userProfile.username }}</h4>
            <p>{{ vm.userProfile.bio }}</p>
            <div>
              FOLLOW USER BUTTON
              <a
                *ngIf="vm.isCurrentUserProfile"
                class="btn btn-sm btn-outline-secondary action-btn"
                routerLink="/settings"
              >
                Edit Profile Settings
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <div class="article-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['/profile', vm.userProfile.username]"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  My Posts
                </a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['/profile', vm.userProfile.username, 'favorites']"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  Favorites Posts
                </a>
              </li>
            </ul>
          </div>

          <ng-container *ngIf="feedApiUrl$ | async as feedApiUrl">
            <bl-feed [apiUrl]="feedApiUrl"></bl-feed>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
